body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: ;
}

div {}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h4 {
  color: #11999E;
  font-size: 30px padding: top;
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container {
  background-color: white;
}

.Design {
  padding-bottom: 10px;
  margin-left: 20px;
}

.Design {
  padding-bottom: 10px;
  margin-left: 20px;
}

.hello {
  margin-right: 30px;
  clear: right;
  padding-bottom: 30px;
  width: 50%;
}

.middle-container {
  background-color: white;
}

.peopleskills {
  padding-bottom: 5px;
}

.photo {
  height: 180px;
  width: 180px;
  margin-right: 300px;
}

.pro {
  text-decoration: underline;
}

.skills {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.skillsy {
  width: 25%;
  float: left;
  margin-left;
  clear: left;
}

.skillsy-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.skill-rowy {
  width: 25%;
  float: right;
  margin-right;
  clear: right;
}
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
